@model List<KonigLabs.Models.ViewProject>

<div class="cbp-l-grid-project">
    <div id="grid-container3" class="cbp-l-grid-projects">
        <ul id="list">
            @Html.Partial("~/Views/Shared/DisplayTemplates/ProjectList.cshtml", Model)
        </ul>
    </div>
    <div id="loadMore" class="cbp-l-loadMore-button">
        <a class="cbp-l-loadMore-button-link">
            <i class="fa fa-plus-circle wow load pulse" data-wow-iteration="infinite" data-toggle="tooltip" data-placement="bottom" id="bottom" title="" data-original-title="Еще"></i>
        </a>
    </div>
</div>

<script>

    $(function () {
        $("#loadMore").click(function () {

            console.log("load more items");
            loadItems();
        });
    });

    var page = 0;
    var _inCallback = false;
    var loadItems = function () {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            console.log(page);
            $.ajax({
                type: 'GET',
                url: '/Home/GetProjects/' + page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#list").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                }
            });
        }
    };
 
</script>

