@model KonigLabs.Models.LandingPage
<!DOCTYPE html>
<!-- saved from url=(0034)http://7eshko.myjino.ru/koniglabs/ -->
<html class=" js touch rgba multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns csstransforms csstransforms3d csstransitions fontface generatedcontent" lang="ru" style="">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>KonigLabs - разработка веб-проектов любой сложности</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">

    <!--CSS-->
    <link rel="stylesheet" href="http://7eshko.myjino.ru/koniglabs/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://7eshko.myjino.ru/koniglabs/css/style.css">
    <link rel="stylesheet" href="http://7eshko.myjino.ru/koniglabs/css/colour2.css">
    <link rel="stylesheet" href="http://7eshko.myjino.ru/koniglabs/css/animate.css">
    <link rel="stylesheet" href="http://7eshko.myjino.ru/koniglabs/css/font-awesome.min.css">
    <link href="http://7eshko.myjino.ru/koniglabs/css/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/Media/cubeportfolio.min.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="/Content/Media/custom.modernizr.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/geocoder.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/stats.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/Content/Media/controls.js"></script>
</head>
<body class="" style="">
    <!--HEADER-->
    <div id="header">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <!--LOGO-->
                <div id="logo">
                    <a class="scroll" href="/#home"><img src="/Content/Media/logo.png" alt=""></a>
                </div>
                <!--//LOGO-->
                <!--MENU-->
                <ul id="menu">
                    <li><a class="scroll" href="/#home">Главная</a></li>
                    <li><a class="scroll" href="/#about">Услуги</a></li>
                    <li><a class="scroll" href="/#team">Команда</a></li>
                    <li><a class="scroll" href="/#work">Наши работы</a></li>
                    <li><a class="scroll" href="/#contact">Контакты</a></li>
                </ul>
                <!--//MENU-->
                <!--RESPONSIVE TOGGLE-->
                <div id="nav-toggle">
                    <i class="fa fa-bars"></i>
                </div>
                <!--//RESPONSIVE TOGGLE-->
            </div>
        </div>
    </div>
    <!--//HEADER-->
    <!--HOME SECTION STARTS-->
    <section id="home" class="top_video" style="position: relative;">
        <div id="overlay"></div>
        <!--ADD YOUR VIDEO-->
        @*<div id="BigVideo" class="player mb_YTVPlayer" data-property="{videoURL:&#39;http://youtube.com/watch?v=PnwNOtG06Dg&#39;, containment:&#39;.top_video&#39;, autoPlay:true, mute:true, startAt:0, opacity:1, showControls : false}" title="Калининград | Kaliningrad Timelapse by dimid" style="display: none; position: relative;"></div>*@

        <!--ANIMATED TEXT-->
        <div id="content" style="top: 76.5px;">
            <div class="wow bounceInDown animated" data-wow-duration="3s" data-wow-delay="6s" style="visibility: visible; -webkit-animation-duration: 3s; -webkit-animation-delay: 6s;">
                <div class="heart wow pulse animated" data-wow-iteration="infinite" style="visibility: visible; -webkit-animation-iteration-count: infinite;"><img src="/Content/Media/face_logo.png"></div>
            </div>

            <div class="byline wow slideInLeft pad45 animated" data-wow-delay="6s" style="visibility: visible; -webkit-animation-delay: 6s;">
                Мы разрабатываем сложные
            </div>

            <h1 class="wow bounceInDown animated" data-wow-duration="3s" data-wow-delay="4s" style="visibility: visible; -webkit-animation-duration: 3s; -webkit-animation-delay: 4s;">
                ВЕБ-ПРОЕКТЫ
            </h1>

            <div class="name wow bounceInDown animated" data-wow-duration="3s" data-wow-delay="2s" style="visibility: visible; -webkit-animation-duration: 3s; -webkit-animation-delay: 2s;">
                живем в Калининграде, работаем по всему миру!
            </div>

            <div class="text-center pad30">
                <a href="/#about" class="scroll">
                    <i class="fa fa-caret-down fa-3x fa-inverse wow rotateIn animated" data-wow-duration="1s" data-wow-delay="8s" style="visibility: visible; -webkit-animation-duration: 1s; -webkit-animation-delay: 8s;"></i>
                </a>
            </div>
        </div>
    </section>
    <!--//HOME SECTION ENDS-->
    <!--BIG IMAGE-->
    <section id="big_image"></section>
    <!--//BIG IMAGE ENDS-->
    <!--ABOUT SECTION STARTS-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="wow fadeInRightBig text-center" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Что мы творим...
                    </h1>

                    <div class="lead wow fadeInRightBig text-center" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Наша команда способна на что угодно!<br> Именно за это <span class="colour"><strong>нас любят</strong></span> наши клиенты.
                    </div>

                    <!--SERVICE 1-->
                    <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 1s; -webkit-animation-name: none;">
                        <div class="service">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h6>Веб-дизайн</h6>
                        <p>
                            Описание того, какие мы крутые веб-дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                        </p>
                    </div>

                    <!--SERVICE 2-->
                    <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 1.5s; -webkit-animation-name: none;">
                        <div class="service">
                            <i class="fa fa-magic"></i>
                        </div>
                        <h6>Графический дизайн</h6>
                        <p>
                            Описание того, какие мы крутые дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                        </p>
                    </div>

                    <!--SERVICE 3-->
                    <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 2s; -webkit-animation-name: none;">
                        <div class="service">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <h6>SEO и раскрутка</h6>
                        <p>
                            Мало кто знает, но один легендарный верстальщик из нашей команды, кроме верстки и дизайна, еще и обалденный спец в оптимизации и раскрутке сайтов.
                        </p>
                    </div>

                    <!--SERVICE 1-->
                    <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 1s; -webkit-animation-name: none;">
                        <div class="service">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h6>Веб-дизайн</h6>
                        <p>
                            Описание того, какие мы крутые веб-дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                        </p>
                    </div>

                    <!--SERVICE 2-->
                    <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 1.5s; -webkit-animation-name: none;">
                        <div class="service">
                            <i class="fa fa-magic"></i>
                        </div>
                        <h6>Графический дизайн</h6>
                        <p>
                            Описание того, какие мы крутые дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                        </p>
                    </div>

                    <!--SERVICE 3-->
                    <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 2s; -webkit-animation-name: none;">
                        <div class="service">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <h6>SEO и раскрутка</h6>
                        <p>
                            Мало кто знает, но один легендарный верстальщик из нашей команды, кроме верстки и дизайна, еще и обалденный спец в оптимизации и раскрутке сайтов.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//ABOUT SECTION ENDS-->
    <!--WE LIKE TICKER-->
    <section id="ticker">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="like wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        А еще<br>
                        <span class="ticker"><span class="c0">п</span><span class="c1">р</span><span class="c2">о</span><span class="c3">б</span><span class="c4">о</span><span class="c5">в</span><span class="c6">а</span><span class="c7">л</span><span class="c8">и</span><span class="c9"> </span><span class="c10">с</span><span class="c11">т</span><span class="c12">р</span><span class="c13">о</span><span class="c14">в</span><span class="c15"> </span><span class="c16"> </span><span class="c17"> </span><span class="c18"> </span><span class="c19"> </span><span class="c20"> </span></span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <!--//WE LIKE TICKER-->
    <!--CHARTS-->
    <section id="charts">
        <div class="well">
            <div class="dark_overlay">
                <div class="container">
                    <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Большинство проектов над которыми мы работаем:
                    </h1>

                    <!--1-->
                    <div class="col-sm-4 col-lg-4 text-center  pie wow bounceIn" data-wow-delay="1s" style="visibility: hidden; -webkit-animation-delay: 1s; -webkit-animation-name: none;">
                        <span class="chart1">
                            <span class="percent">80%</span>
                        </span>
                        <p class="center">Финансовая сфера</p>
                    </div>
                    <!--2-->
                    <div class="col-sm-4 col-lg-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.5s" style="visibility: hidden; -webkit-animation-delay: 1.5s; -webkit-animation-name: none;">
                        <span class="chart2">
                            <span class="percent">75%</span>
                        </span>
                        <p class="center">CRM-системы</p>
                    </div>
                    <!--3-->
                    <div class="col-sm-4 col-lg-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.8s" style="visibility: hidden; -webkit-animation-delay: 1.8s; -webkit-animation-name: none;">
                        <span class="chart3">
                            <span class="percent">60%</span>
                        </span>
                        <p class="center">Стартапы</p>
                    </div>
                </div>
                <div class="pad30"></div>
            </div>
        </div>
    </section>
    <!--//CHARTS-->
    <!--TEAM SECTION STARTS-->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        эбаутус
                    </h1>

                    <div class="lead  wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Наша <strong><span class="colour">команда</span></strong> собрана по крупицам со всего СНГ.
                    </div>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    </p>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12 pad15">
                    <!--BUTTONS-->
                    <a href="/#contact" class="scroll btn marg-right10 wow bounceIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">КОНТАКТЫ</a>
                    <a href="/#work" class="scroll btn wow bounceIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">ПОРТФОЛИО</a>
                    <div class="pad45"></div>

                    <!--TEAM MEMBERS-->
                    <div id="grid-container" class="cbp-l-grid-team cbp cbp-chrome cbp-caption-zoom cbp-animation-sequentially cbp-ready" style="height: 277px;">
                        <ul class="cbp-l-grid-team cbp-wrapper">
                            @foreach (var member in Model.Members)
                            {
                                Html.RenderPartial("~/Views/Shared/DisplayTemplates/Member.cshtml", member);
                            }

                            @*<!--1-->
                                <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(0px, 0px, 0px);">
                                    <div class="cbp-item-wrapper">
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team1.html" class="cbp-caption cbp-singlePage">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="/Content/Media/1.jpg" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-text">МАША</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team1.html" class="cbp-singlePage cbp-l-grid-team-name">Маша Ложникова</a>
                                        <div class="cbp-l-grid-team-position">Дизайнер/Иллюстратор</div>
                                    </div>
                                </li>
                                <!--2-->
                                <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(287px, 0px, 0px);">
                                    <div class="cbp-item-wrapper">
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team2.html" class="cbp-caption cbp-singlePage">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="/Content/Media/2.jpg" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-text">АРТУР</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team2.html" class="cbp-singlePage cbp-l-grid-team-name">Артур Семешко</a>
                                        <div class="cbp-l-grid-team-position">Мыслитель-новатор </div>
                                    </div>
                                </li>
                                <!--3-->
                                <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(574px, 0px, 0px);">
                                    <div class="cbp-item-wrapper">
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team3.html" class="cbp-caption cbp-singlePage">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="/Content/Media/3.jpg" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-text">АЛЕКСЕЙ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team3.html" class="cbp-singlePage cbp-l-grid-team-name">Алексей Палаткин</a>
                                        <div class="cbp-l-grid-team-position">Нужный человек</div>
                                    </div>
                                </li>
                                <!--4-->
                                <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(861px, 0px, 0px);">
                                    <div class="cbp-item-wrapper">
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team4.html" class="cbp-caption cbp-singlePage">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="/Content/Media/4.jpg" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-text">НИКОЛАЙ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="http://7eshko.myjino.ru/koniglabs/ajax/team4.html" class="cbp-singlePage cbp-l-grid-team-name">Николай Пасько</a>
                                        <div class="cbp-l-grid-team-position">Смотрящий</div>
                                    </div>
                                </li>*@
                        </ul>
                    </div>
                    <!--//TEAM MEMBERS-->

                    <div class="pad60"></div>
                </div>
            </div>
        </div>
    </section>
    <!--//TEAM SECTION ENDS-->
    <!--MILESTONES-->
    <section id="milestones">
        <div class="well">
            <div class="dark_overlay">
                <div class="container">
                    <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Сухая статистка
                    </h1>
                    <div class="pad45"></div>

                    <!--COUNTERS-->
                    <!--1-->
                    <div class="col-sm-4 col-lg-4 text-center">
                        <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                            <div id="counter-1"></div>
                            <p class="light">лет опыта на всю команду</p>
                        </div>
                    </div>
                    <!--2-->
                    <div class="col-sm-4 col-lg-4 text-center">
                        <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                            <div id="counter-2"></div>
                            <p class="light">разработанных проектов</p>
                        </div>
                    </div>
                    <!--3-->
                    <div class="col-sm-4 col-lg-4 text-center ">
                        <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                            <div id="counter-3"></div>
                            <p class="light">довольных клиентов</p>
                        </div>
                    </div>
                    <!--//COUNTERS-->
                </div>
            </div>
        </div>
    </section>
    <!--//MILESTONES-->
    <!--WORK SECTION STARTS-->
    <section id="work">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        из насущного
                    </h1>
                    <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Перед вами последние проекты, выполненные нашей командой.
                    </div>

                    <!--FILTERS-->
                    <div id="filters-container" class="cbp-l-filters-button">
                        @foreach (var category in Model.Categories)
                        {
                            <button data-filter="@category.Token" class="cbp-filter-item-active cbp-filter-item">
                                @category.Name
                                <span class="cbp-filter-counter">@category.Count</span>
                            </button>
                        }                      
                    </div>

                    <!--PORTFOLIO-->
                    <div class="cbp-l-grid-project">
                        <div id="grid-container3" class="cbp-l-grid-projects cbp cbp-chrome cbp-caption-pushTop cbp-animation-flipOut cbp-ready" style="height: 492px;">
                            <ul class="cbp-wrapper">
                                @foreach (var project in Model.Projects)
                                {
                                    Html.RenderPartial("~/Views/Shared/DisplayTemplates/Project.cshtml", project);
                                }

                                @*
                                    <!--1-->
                                    <li class="cbp-item graphic" style="width: 270px; height: 271px; transform: translate3d(0px, 0px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/1(1).jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="http://7eshko.myjino.ru/koniglabs/img/gallery/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <!--2-->
                                    <li class="cbp-item web-design logo" style="width: 270px; height: 271px; transform: translate3d(290px, 0px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/2(1).jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="http://7eshko.myjino.ru/koniglabs/img/gallery/2big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--3-->
                                    <li class="cbp-item graphic logo" style="width: 270px; height: 271px; transform: translate3d(580px, 0px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/3(1).jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project3.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-film"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--4-->
                                    <li class="cbp-item web-design graphic" style="width: 270px; height: 271px; transform: translate3d(870px, 0px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/4(1).jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project4.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="http://7eshko.myjino.ru/koniglabs/img/gallery/3big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--5-->
                                    <li class="cbp-item identity web-design" style="width: 270px; height: 271px; transform: translate3d(0px, 221px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/5.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project5.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="http://7eshko.myjino.ru/koniglabs/img/gallery/4big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--6-->
                                    <li class="cbp-item identity web-design" style="width: 270px; height: 271px; transform: translate3d(290px, 221px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/6.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project6.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="http://7eshko.myjino.ru/koniglabs/img/gallery/5big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--7-->
                                    <li class="cbp-item graphic logo" style="width: 270px; height: 271px; transform: translate3d(580px, 221px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/7.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project7.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="http://7eshko.myjino.ru/koniglabs/img/gallery/6big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!--8-->
                                    <li class="cbp-item identity graphic" style="width: 270px; height: 271px; transform: translate3d(870px, 221px, 0px); opacity: 1;">
                                        <div class="cbp-item-wrapper">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="/Content/Media/8.jpg" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/project8.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                            <a href="https://www.youtube.com/watch?v=IbWOQWw1wkM" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Project Title">
                                                                <i class="fa fa-film"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                *@
                            </ul>
                        </div>
                        <!--LOAD MORE BUTTON-->
                        <div class="cbp-l-loadMore-button">
                            <a href="http://7eshko.myjino.ru/koniglabs/ajax/loadMore.html" class="cbp-l-loadMore-button-link">
                                <i class="fa fa-plus-circle wow load pulse" data-wow-iteration="infinite" data-toggle="tooltip" data-placement="bottom" id="bottom" title="" data-original-title="Еще" style="visibility: hidden; -webkit-animation-iteration-count: infinite; -webkit-animation-name: none;"></i>
                            </a>
                        </div>
                        <!--//LOAD MORE BUTTON-->
                    </div>
                    <div class="pad45"></div>
                </div>
                <!--//END PORTFOLIO-->
            </div>
        </div>
    </section>
    <!--//WORK SECTION ENDS-->

    <div class="pad30"></div>

    <!--//CLIENTS STARTS-->
    <section id="clients_parallax">
        <div class="well">
            <div class="container">
                <div class="wow fadeIn col-lg-12 pad45" data-wow-offset="80" style="visibility: hidden; -webkit-animation-name: none;">
                    <div id="clients" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4448px; left: -278px; display: block;"><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo1.png" alt=""></div></div><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo2.png" alt=""></div></div><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo3.png" alt=""></div></div><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo4.png" alt=""></div></div><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo5.png" alt=""></div></div><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo6.png" alt=""></div></div><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo7.png" alt=""></div></div><div class="owl-item" style="width: 278px;"><div class="item"><img src="/Content/Media/logo8.png" alt=""></div></div></div></div>







                        <div class="owl-controls"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//CLIENTS SECTION ENDS-->
    <!--BLOG POSTS-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12 pad30  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                    <h2>Любителям почитать</h2>
                    <div class="pad30"></div>

                    <div id="grid-container2" class="cbp-l-grid-blog pad90 cbp cbp-chrome cbp-caption-zoom cbp-animation-sequentially cbp-ready" style="height: 277px;">
                        <ul class="cbp-wrapper">
                            <!--1-->
                            <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(0px, 0px, 0px);">
                                <div class="cbp-item-wrapper">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="/Content/Media/a1.jpg" alt="">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-text">ЧИТАТЬ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-title">История о парне в противогазе</a>
                                    <div class="cbp-l-grid-blog-date">1 апреля 2015</div>
                                    <div class="cbp-l-grid-blog-split">|</div>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-comments">10 комментариев</a>
                                </div>
                            </li>
                            <!--2-->
                            <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(287px, 0px, 0px);">
                                <div class="cbp-item-wrapper">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="/Content/Media/a2.jpg" alt="">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-text">СМОТРЕТЬ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-title">О том, как девушка в скайп влюбилась</a>
                                    <div class="cbp-l-grid-blog-date">2 апреля 2015</div>
                                    <div class="cbp-l-grid-blog-split">|</div>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-comments">120 комментариев</a>
                                </div>
                            </li>
                            <!--3-->
                            <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(574px, 0px, 0px);">
                                <div class="cbp-item-wrapper">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="/Content/Media/a3.jpg" alt="">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-text">ЛИЦЕЗРЕТЬ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-title">Как маки в астрал уводят</a>
                                    <div class="cbp-l-grid-blog-date">3 апреля 2015</div>
                                    <div class="cbp-l-grid-blog-split">|</div>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-comments">1 комментарий</a>

                                </div>
                            </li>
                            <!--4-->
                            <li class="cbp-item" style="width: 277px; height: 277px; transform: translate3d(861px, 0px, 0px);">
                                <div class="cbp-item-wrapper">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="/Content/Media/a4.jpg" alt="">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <div class="cbp-l-caption-text">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-title">Фото онлайн бесплатно и без регистрации</a>
                                    <div class="cbp-l-grid-blog-date">4 апреля 2015</div>
                                    <div class="cbp-l-grid-blog-split">|</div>
                                    <a href="http://7eshko.myjino.ru/koniglabs/#" class="cbp-l-grid-blog-comments">121 комментарий</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pad30"></div>
    </section>
    <!--//BLOG POSTS-->
    <!--CONTACT SECTION STARTS-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12 ">

                    <h1 class="wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        контактус
                    </h1>

                    <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                        Нужен <strong>обычный сайт</strong> или нереальный <strong>стартап</strong>?<br> Вы нам только шепните, мы на помощь придем...
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-6  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">

                            <h2>Хотите встретиться?</h2>

                            <p>
                                Россия, г. Калининград,<br>
                                ул. Ленина 123, офис 321,<br>
                                Вход через булошную
                            </p>

                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-phone inverse"></i> <span class="inverse">+8 800 111 22 33</span></li>
                                <li><i class="fa-li fa fa-envelope inverse"></i> <a href="mailto:#">info@koniglabs.com</a></li>
                            </ul>

                            <ul class="social-icons">
                                <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 0.5s; -webkit-animation-name: none;">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 1s; -webkit-animation-name: none;">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#"><i class="fa fa-github"></i></a>
                                </li>
                                <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 1.5s; -webkit-animation-name: none;">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 2s; -webkit-animation-name: none;">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2.5s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-delay: 2.5s; -webkit-animation-name: none;">
                                    <a href="http://7eshko.myjino.ru/koniglabs/#"><i class="fa fa-vk"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-lg-6  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                            <div class="contact_form">
                                <div id="note"></div>
                                <div id="fields">
                                    <form id="ajax-contact-form">
                                        <input class="col-xs-12 col-md-12" type="text" name="name" value="" placeholder="Ваше имя">
                                        <input class="col-xs-12 col-md-12" type="text" name="email" value="" placeholder="Email">
                                        <input class="col-xs-12 col-md-12" type="text" name="telephone" value="" placeholder="Телефон">
                                        <textarea name="message" id="message" class="col-xs-12  col-md-12" placeholder="Ваше сообщение"></textarea>
                                        <div class="clear"></div>
                                        <input type="submit" class="btn marg-right10" value="отправить">
                                        <div class="clear"></div>
                                    </form>
                                </div>
                            </div>
                            <!-- // End FORM -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pad60"></div>
    </section>
    <!--//END CONTACT SECTION-->
    <!--START FOOTER-->
    <footer>
        <!--Google Map-->
        <div id="google-maps">

        </div>
        <!-- // End Google Map -->

        <div class="center footer">
            <!-- UP TO TOP -->
            <div class="wow bounce" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                <a href="http://7eshko.myjino.ru/koniglabs/#home" class=" scroll">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x "></i>
                        <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>

            <div id="copyright" class="wow bounceIn" data-wow-offset="80" data-wow-duration="2s" style="visibility: hidden; -webkit-animation-duration: 2s; -webkit-animation-name: none;">
                © 2015 KonigLabs
            </div>
        </div>
    </footer>
    <!--//END-->
    <!--SCRIPTS-->
    <script src="/Content/Media/jquery.js"></script>
    <script src="/Content/Media/retina.js"></script>
    <script src="/Content/Media/bootstrap.min.js"></script>
    <script src="/Content/Media/royal_preloader.min.js"></script>
    <script src="/Content/Media/smooth-scroll.js"></script>
    <script src="/Content/Media/jquery.appear.js"></script>
    <script src="/Content/Media/parallax.js"></script>
    <script src="/Content/Media/wow.js"></script>
    <script src="/Content/Media/count.js"></script>
    <script src="/Content/Media/charts.js"></script>
    <script src="/Content/Media/jquery.cubeportfolio.min.js"></script>
    <script src="/Content/Media/main.js"></script>
    <script type="text/javascript" src="/Content/Media/js"></script>
    <script src="/Content/Media/main(1).js"></script>
    <script src="/Content/Media/gmap3.min.js" type="text/javascript"></script>
    <script src="/Content/Media/scripts.js"></script>
    <script src="/Content/Media/owl.carousel.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            $("#clients").owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                items: 4,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });
        });
        //]]>
    </script>
    <!-- VIDEO-->
    <script src="/Content/Media/YTPlayer.js" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () {
            $(function () {
                $(".player").mb_YTPlayer();
            });
        });
        //]]>
    </script>

</body>
</html>