@model KonigLabs.Models.LandingPage
@{
    ViewBag.Title = "Index_EN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header">
    <div class="col-sm-12 col-lg-12">
        <div class="row">
            <div id="logo">
                <a class="scroll" href="#home"><img src="/Content/media/img/logo.png" alt="" /></a>
            </div>
            <ul id="menu">
                <li><a class="scroll" href="#home">Главная</a></li>
                <li><a class="scroll" href="#about">Услуги</a></li>
                <li><a class="scroll" href="#team">Команда</a></li>
                <li><a class="scroll" href="#work">Наши работы</a></li>
                <li><a class="scroll" href="blog.html">Блог</a></li>
                <li><a class="scroll" href="#contact">Контакты</a></li>
                <li><a class="lang active" href="#">Ru</a></li>
                <li><a class="lang" href="#">En</a></li>
            </ul>
            <div id="nav-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>

@if (Request.Url.Host.Contains("localhost"))
{

}
else
{
<section id="home" class="top_video">
    <div id="overlay"></div>
    <div id="BigVideo" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=YRFdL1CsYow', containment:'.top_video', autoPlay:true, mute:true, startAt:0, opacity:1, showControls : false}"></div>

    <div id="content">
        <div class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="6s">
            <div class="heart wow pulse" data-wow-iteration="infinite"><img src="/Content/media/img/face_logo.png"></div>
        </div>

        <div class="byline wow slideInLeft pad45" data-wow-delay="6s">
            Мы разрабатываем сложные
        </div>

        <h1 class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="4s">
            ПРОГРАММНЫЕ РЕШЕНИЯ ПОД КЛЮЧ
        </h1>

        <div class="name wow bounceInDown" data-wow-duration="3s" data-wow-delay="2s">
            живем в Калининграде, работаем по всему миру!
        </div>

        <div class="text-center pad30">
            <a href="#about" class="scroll">
                <i class="fa fa-caret-down fa-3x fa-inverse wow rotateIn" data-wow-duration="1s" data-wow-delay="8s"></i>
            </a>
        </div>
    </div>
</section>
}

<section id="big_image"></section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig text-center embo" data-wow-offset="80" data-wow-duration="2s">
                    Что мы творим...
                </h1>

                <div class="lead wow fadeInRightBig text-center" data-wow-offset="80" data-wow-duration="2s">
                    Наша команда способна на что угодно!<br /> Именно за это <span class="white embo"><strong>нас любят</strong></span> наши клиенты.
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                    <div class="service">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h6>Веб-дизайн</h6>
                    <p>
                        Описание того, какие мы крутые веб-дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                    </div>
                    <h6>Графический дизайн</h6>
                    <p>
                        Описание того, какие мы крутые дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                    <div class="service">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <h6>SEO и раскрутка</h6>
                    <p>
                        Мало кто знает, но один легендарный верстальщик из нашей команды, кроме верстки и дизайна, еще и обалденный спец в оптимизации и раскрутке сайтов.
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                    <div class="service">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h6>Веб-дизайн</h6>
                    <p>
                        Описание того, какие мы крутые веб-дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                    </div>
                    <h6>Графический дизайн</h6>
                    <p>
                        Описание того, какие мы крутые дизайнеры, ну или текст о достоинствах одного верстальщика из команды...
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                    <div class="service">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <h6>SEO и раскрутка</h6>
                    <p>
                        Мало кто знает, но один легендарный верстальщик из нашей команды, кроме верстки и дизайна, еще и обалденный спец в оптимизации и раскрутке сайтов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="charts">
    <div class="well">
        <div class="dark_overlay">
            <div class="container">
                <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Большинство проектов над которыми мы работаем:
                </h1>

                <div class="col-sm-4 col-lg-4 text-center  pie wow bounceIn" data-wow-delay="1s">
                    <span class="chart1">
                        <span class="percent">80%</span>
                    </span>
                    <p class="center">Финансовая сфера</p>
                </div>
                <div class="col-sm-4 col-lg-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.5s">
                    <span class="chart2">
                        <span class="percent">75%</span>
                    </span>
                    <p class="center">CRM-системы</p>
                </div>
                <div class="col-sm-4 col-lg-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.8s">
                    <span class="chart3">
                        <span class="percent">60%</span>
                    </span>
                    <p class="center">Стартапы</p>
                </div>
            </div>
            <div class="pad30"></div>
        </div>
    </div>
</section>
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    эбаутус
                </h1>

                <div class="lead  wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Наша <strong><span class="white">команда</span></strong> собрана по крупицам со всего СНГ.
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                </p>
            </div>

            <div class="col-sm-12 col-lg-6">
                <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 pad15">
                <a href="#contact" class="scroll btn marg-right10 wow bounceIn" data-wow-offset="80" data-wow-duration="2s">КОНТАКТЫ</a>
                <a href="#work" class="scroll btn wow bounceIn" data-wow-offset="80" data-wow-duration="2s">ПОРТФОЛИО</a>
                <div class="pad45"></div>

                <div id="grid-container" class="cbp-l-grid-team">
                    <ul class="cbp-l-grid-team">
                        <li class="cbp-item">
                            <a href="ajax/team1.html" class="cbp-caption cbp-singlePage">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/team/1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">МАША</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="ajax/team1.html" class="cbp-singlePage cbp-l-grid-team-name">Маша Ложникова</a>
                            <div class="cbp-l-grid-team-position">Дизайнер/Иллюстратор</div>
                        </li>
                        <li class="cbp-item">
                            <a href="ajax/team2.html" class="cbp-caption cbp-singlePage">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/team/2.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">АРТУР</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="ajax/team2.html" class="cbp-singlePage cbp-l-grid-team-name">Артур Семешко</a>
                            <div class="cbp-l-grid-team-position">Мыслитель-новатор </div>
                        </li>
                        <li class="cbp-item">
                            <a href="ajax/team3.html" class="cbp-caption cbp-singlePage">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/team/3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">АЛЕКСЕЙ</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="ajax/team3.html" class="cbp-singlePage cbp-l-grid-team-name">Алексей Палаткин</a>
                            <div class="cbp-l-grid-team-position">Нужный человек</div>
                        </li>
                        <li class="cbp-item">
                            <a href="ajax/team4.html" class="cbp-caption cbp-singlePage">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/team/4.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">НИКОЛАЙ</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="ajax/team4.html" class="cbp-singlePage cbp-l-grid-team-name">Николай Пасько</a>
                            <div class="cbp-l-grid-team-position">Смотрящий</div>
                        </li>
                    </ul>
                </div>

                <div class="pad60"></div>
            </div>
        </div>
    </div>
</section>
<section id="milestones">
    <div class="well">
        <div class="dark_overlay">
            <div class="container">
                <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Сухая статистка
                </h1>
                <div class="pad45"></div>

                <div class="col-sm-4 col-lg-4 text-center">
                    <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
                        <div id="counter-1"></div>
                        <p class="light">лет опыта на всю команду</p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 text-center">
                    <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
                        <div id="counter-2"></div>
                        <p class="light">разработанных проектов</p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 text-center ">
                    <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
                        <div id="counter-3"></div>
                        <p class="light">довольных клиентов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    из насущного
                </h1>
                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Перед вами последние проекты, выполненные нашей командой.
                </div>

                <div id="filters-container" class="cbp-l-filters-button">
                    <button data-filter="*" class="cbp-filter-item-active cbp-filter-item">Все и сразу<span class="cbp-filter-counter"></span></button>
                    <button data-filter=".identity" class="cbp-filter-item">Дизайн<span class="cbp-filter-counter"></span></button>
                    <button data-filter=".web-design" class="cbp-filter-item">Просто сайты<span class="cbp-filter-counter"></span></button>
                    <button data-filter=".graphic" class="cbp-filter-item">Стартапы<span class="cbp-filter-counter"></span></button>
                    <button data-filter=".logo" class="cbp-filter-item">Неформат<span class="cbp-filter-counter"></span></button>
                </div>

                <div class="cbp-l-grid-project">
                    <div id="grid-container3" class="cbp-l-grid-projects">
                        <ul>
                            <li class="cbp-item graphic">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/1.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="/Content/media/img/gallery/1big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="cbp-item web-design logo">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/2.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="/Content/media/img/gallery/2big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cbp-item graphic logo">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/3.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project3.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-film"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cbp-item web-design graphic">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/4.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project4.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="/Content/media/img/gallery/3big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cbp-item identity web-design">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/5.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project5.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="/Content/media/img/gallery/4big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cbp-item identity web-design">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/6.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project6.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="/Content/media/img/gallery/5big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cbp-item graphic logo">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/7.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project7.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="/Content/media/img/gallery/6big.jpg" class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="cbp-item identity graphic">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="/Content/media/img/gallery/thumb/8.jpg" alt="" />
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <a href="ajax/project8.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                                                <a href="https://www.youtube.com/watch?v=IbWOQWw1wkM"
                                                   class="cbp-lightbox cbp-l-caption-buttonRight"
                                                   data-title="Название проекта">
                                                    <i class="fa fa-film"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cbp-l-loadMore-button">
                        <a href="ajax/loadMore.html" class="cbp-l-loadMore-button-link">
                            <i class="fa fa-plus-circle wow load pulse" data-wow-iteration="infinite" data-toggle="tooltip" data-placement="bottom" id="bottom" title="" data-original-title="Еще"></i>
                        </a>
                    </div>
                </div>
                <div class="pad45"></div>
            </div>
        </div>
    </div>
</section>

<div class="pad30"></div>

<section id="clients_parallax">
    <div class="well">
        <div class="container">
            <div class="wow fadeIn col-lg-12 pad45" data-wow-offset="80">
                <div id="clients">
                    <div class="item"><img src="/Content/media/img/clients/logo1.png" alt=""></div>
                    <div class="item"><img src="/Content/media/img/clients/logo2.png" alt=""></div>
                    <div class="item"><img src="/Content/media/img/clients/logo3.png" alt=""></div>
                    <div class="item"><img src="/Content/media/img/clients/logo4.png" alt=""></div>
                    <div class="item"><img src="/Content/media/img/clients/logo5.png" alt=""></div>
                    <div class="item"><img src="/Content/media/img/clients/logo6.png" alt=""></div>
                    <div class="item"><img src="/Content/media/img/clients/logo7.png" alt=""></div>
                    <div class="item"><img src="/Content/media/img/clients/logo8.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 pad30  wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                <h2>Любителям почитать</h2>
                <div class="pad30"></div>

                <div id="grid-container2" class="cbp-l-grid-blog pad90">
                    <ul>
                        <li class="cbp-item">
                            <a href="#" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/blog/a1.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">ЧИТАТЬ</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="cbp-l-grid-blog-title">История о парне в противогазе</a>
                            <div class="cbp-l-grid-blog-date">1 апреля 2015</div>
                            <div class="cbp-l-grid-blog-split">|</div>
                            <a href="#" class="cbp-l-grid-blog-comments">10 комментариев</a>
                        </li>
                        <li class="cbp-item">
                            <a href="#" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/blog/a2.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">СМОТРЕТЬ</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="cbp-l-grid-blog-title">О том, как девушка в скайп влюбилась</a>
                            <div class="cbp-l-grid-blog-date">2 апреля 2015</div>
                            <div class="cbp-l-grid-blog-split">|</div>
                            <a href="#" class="cbp-l-grid-blog-comments">120 комментариев</a>
                        </li>
                        <li class="cbp-item">
                            <a href="#" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/blog/a3.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">ЛИЦЕЗРЕТЬ</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="cbp-l-grid-blog-title">Как маки в астрал уводят</a>
                            <div class="cbp-l-grid-blog-date">3 апреля 2015</div>
                            <div class="cbp-l-grid-blog-split">|</div>
                            <a href="#" class="cbp-l-grid-blog-comments">1 комментарий</a>

                        </li>
                        <li class="cbp-item">
                            <a href="#" class="cbp-caption">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/Content/media/img/blog/a4.jpg" alt="">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-text">...</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="cbp-l-grid-blog-title">Фото онлайн бесплатно и без регистрации</a>
                            <div class="cbp-l-grid-blog-date">4 апреля 2015</div>
                            <div class="cbp-l-grid-blog-split">|</div>
                            <a href="#" class="cbp-l-grid-blog-comments">121 комментарий</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pad30"></div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 ">

                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    контактус
                </h1>

                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Нужен <strong>обычный сайт</strong> или нереальный <strong>стартап</strong>?<br /> Вы нам только шепните, мы на помощь придем...
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">

                        <h2>Хотите встретиться?</h2>

                        <p>
                            Россия, г. Калининград,<br>
                            ул. Ленина 123, офис 321,<br>
                            Вход через булошную
                        </p>

                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-phone inverse"></i> <span class="inverse">+8 800 111 22 33</span></li>
                            <li><i class="fa-li fa fa-envelope inverse"></i> <a href="mailto:#">info@koniglabs.com</a></li>
                        </ul>

                        <ul class="social-icons">
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="0.5s">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                                <a href="#"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2.5s">
                                <a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-6  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">
                        <div class="contact_form">
                            <div id="note"></div>
                            <div id="fields">
                                <form id="ajax-contact-form">
                                    <input class="col-xs-12 col-md-12" type="text" name="name" value="" placeholder="Ваше имя" />
                                    <input class="col-xs-12 col-md-12" type="text" name="email" value="" placeholder="Email" />
                                    <input class="col-xs-12 col-md-12" type="text" name="telephone" value="" placeholder="Телефон" />
                                    <textarea name="message" id="message" class="col-xs-12  col-md-12" placeholder="Ваше сообщение"></textarea>
                                    <div class="clear"></div>
                                    <input type="submit" class="btn marg-right10" value="отправить" />
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pad60"></div>
</section>
<footer>
    <div id="google-maps">
        <div class="google-maps">
        </div>
    </div>

    <div class="center footer">
        <div class="wow bounce" data-wow-offset="80" data-wow-duration="2s">
            <a href="#home" class=" scroll">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x "></i>
                    <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>

        <div id="copyright" class="wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
            &copy; 2015 KonigLabs
        </div>
    </div>
</footer>