@model KonigLabs.Models.LandingPage
@{
    ViewBag.Title = "Index_EN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header">
    <div class="col-sm-12 col-lg-12">
        <div class="row">
            <div id="logo">
                <a class="scroll" href="#home"><img src="/Content/media/img/logo.png" alt="" /></a>
            </div>
            <ul id="menu">
                <li><a class="scroll" href="#home">Главная</a></li>
                <li><a class="scroll" href="#about">Услуги</a></li>
                <li><a class="scroll" href="#team">Команда</a></li>
                <li><a class="scroll" href="#work">Наши работы</a></li>
                <li><a class="scroll" href="/blog/">Блог</a></li>
                <li><a class="scroll" href="#contact">Контакты</a></li>
                <li><a class="lang active" href="/">Ru</a></li>
                <li><a class="lang" href="/en/">En</a></li>
            </ul>
            <div id="nav-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</div>

@if (Request.Url.Host.Contains("localhost"))
{

}
else
{
<section id="home" class="top_video">
    <div id="overlay"></div>
    <div id="BigVideo" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=YRFdL1CsYow', containment:'.top_video', autoPlay:true, mute:true, startAt:0, opacity:1, showControls : false}"></div>

    <div id="content">
        <div class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="6s">
            <div class="heart wow pulse" data-wow-iteration="infinite"><img src="/Content/media/img/logo_site2.png"></div>
        </div>

        <div class="byline wow slideInLeft pad45" data-wow-delay="6s">
            Мы разрабатываем сложные
        </div>

        <h1 class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="4s">
            ПРОГРАММНЫЕ РЕШЕНИЯ ПОД КЛЮЧ
        </h1>

        <div class="name wow bounceInDown" data-wow-duration="3s" data-wow-delay="2s">
            живем в Калининграде, работаем по всему миру!
        </div>

        <div class="text-center pad30">
            <a href="#about" class="scroll">
                <i class="fa fa-caret-down fa-3x fa-inverse wow rotateIn" data-wow-duration="1s" data-wow-delay="8s"></i>
            </a>
        </div>
    </div>
</section>
}

<section id="big_image"></section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig text-center embo" data-wow-offset="80" data-wow-duration="2s">
                    Чем мы занимаемся...
                </h1>

                <div class="lead wow fadeInRightBig text-center" data-wow-offset="80" data-wow-duration="2s">
                    Наши специалисты проживают жизнь каждого проекта!<br /> Именно за это <span class="white embo"><strong>нас любят</strong></span> наши клиенты.
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                    <div class="service">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <h6>Дизайн интерфейсов</h6>
                    <p>
                        Наши специалисты разработают эксклюзивный дизайн для вашего сайта, портала, мобильного или веб приложения. При разработке дизайна проектируются интерфейсы, адаптивные под любые виды экранов.
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                    <div class="service">
                        <i class="fa fa-magic"></i>
                    </div>
                    <h6>Графический дизайн</h6>
                    <p>
                        Мы разрабатываем фирменный стиль, логотипы, визитки, рекламы. Наши специалисты воплощают идеи с помощью линий, вдыхая в них жизнь. И, да, мы делам качественный и красивый дизайн!
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                    <div class="service">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <h6>Продвижение и раскрутка сайтов</h6>
                    <p>
                        Привлекая новых посетителей на Ваш сайт, мы способствуем росту количества потенциальных клиентов.
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                    <div class="service">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <h6>Веб сайты, веб приложения, порталы</h6>
                    <p>
                        Тщательно проектируя и разрабатывая легко масштабируемую архитектуру, мы добиваемся надёжных и гибких программных решений.
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                    <div class="service">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h6>Настольные приложения, сервисы</h6>
                    <p>
                        Разрабатывая приложения высокой сложности для операционных систем семейства Windows, мы уделяем большое внимание качеству кода и архитектуры.
                    </p>
                </div>

                <div class="col-sm-4 col-lg-4 text-center  wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                    <div class="service">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <h6>Мобильные и облачные приложения</h6>
                    <p>
                        Кросс-платформенные приложения (Android, iOS, Windows Phone), облачные приложения (AWS, Azure) - это к нам.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="charts">
    <div class="well">
        <div class="dark_overlay">
            <div class="container">
                <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Предметные области наших проектов:
                </h1>

                <div class="col-sm-4 col-lg-4 text-center  pie wow bounceIn" data-wow-delay="1s">
                    <span class="chart1">
                        <span class="percent">50%</span>
                    </span>
                    <p class="center">Масштабные онлайновые сервисы</p>
                </div>
                <div class="col-sm-4 col-lg-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.5s">
                    <span class="chart2">
                        <span class="percent">20%</span>
                    </span>
                    <p class="center">Сложные базы данных с размещением в облаках</p>
                </div>
                <div class="col-sm-4 col-lg-4 text-center bouncein pie wow bounceIn" data-wow-delay="1.8s">
                    <span class="chart3">
                        <span class="percent">30%</span>
                    </span>
                    <p class="center">Стартапы</p>
                </div>
            </div>
            <div class="pad30"></div>
        </div>
    </div>
</section>
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    О Нас
                </h1>

                <div class="lead  wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Наша <strong><span class="white">команда</span></strong> собрана из профессионалов разных направлений
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Наша команда - это люди, фанатеющие от IT-инноваций и сложных алгоритмов. Мы объеденились, чтобы упрощать жизнь нашим клиентам. Мы всегда открыты для диалога.
                </p>
            </div>

            <div class="col-sm-12 col-lg-6">
                <p class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Качественно выстроенные бизнес-процессы и всокий профессионализм позволяют нам реать проблемы клиентов наилучшим образом. Именно поэтому мы регулярно участвуем в профильных тренингах и конференциях. Наши специалисты постоянно совершенствуют свои навыки, общаясь с лучшими профессионалами своей области по всему миру.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 pad15">
                <a href="#contact" class="scroll btn marg-right10 wow bounceIn" data-wow-offset="80" data-wow-duration="2s">КОНТАКТЫ</a>
                <a href="#work" class="scroll btn wow bounceIn" data-wow-offset="80" data-wow-duration="2s">ПОРТФОЛИО</a>
                <div class="pad45"></div>

                <div id="grid-container" class="cbp-l-grid-team">
                    <ul class="cbp-l-grid-team">
                        @foreach (var member in Model.Members)
                        {
                            Html.RenderPartial("~/Views/Shared/DisplayTemplates/Member.cshtml", member);
                        }                      
                    </ul>
                </div>

                <div class="pad60"></div>
            </div>
        </div>
    </div>
</section>
<section id="milestones">
    <div class="well">
        <div class="dark_overlay">
            <div class="container">
                <h1 class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                    Сухая статистка
                </h1>
                <div class="pad45"></div>

                <div class="col-sm-4 col-lg-4 text-center">
                    <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
                        <div id="counter-1"></div>
                        <p class="light">лет опыта на всю команду</p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 text-center">
                    <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
                        <div id="counter-2"></div>
                        <p class="light">разработанных проектов</p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 text-center ">
                    <div class="counter wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
                        <div id="counter-3"></div>
                        <p class="light">довольных клиентов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    из насущного
                </h1>
                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Перед вами последние проекты, выполненные нашей командой.
                </div>

                <div id="filters-container" class="cbp-l-filters-button">
                    <button data-filter="*" class="cbp-filter-item-active cbp-filter-item">Все и сразу<span class="cbp-filter-counter"></span></button>
                    @foreach (var category in Model.Categories)
                    {
                        <button data-filter="@category.GetFilter()" class="cbp-filter-item-active cbp-filter-item">
                            @category.Name
                            <span class="cbp-filter-counter"></span>
                        </button>
                    }
                
                </div>

                <div class="cbp-l-grid-project">
                    <div id="grid-container3" class="cbp-l-grid-projects">
                        <ul>
                           
                            @foreach (var project in Model.Projects)
                            {
                                Html.RenderPartial("~/Views/Shared/DisplayTemplates/Project.cshtml", project);
                            }
                            
                        </ul>
                    </div>
                    <div class="cbp-l-loadMore-button">
                        <a href="/Home/Projects" class="cbp-l-loadMore-button-link">
                            <i class="fa fa-plus-circle wow load pulse" data-wow-iteration="infinite" data-toggle="tooltip" data-placement="bottom" id="bottom" title="" data-original-title="Еще"></i>
                        </a>
                    </div>
                </div>
                <div class="pad45"></div>
            </div>
        </div>
    </div>
</section>

<div class="pad30"></div>

<section id="clients_parallax">
    <div class="well">
        <div class="container">
            <div class="wow fadeIn col-lg-12 pad45" data-wow-offset="80">
                <div id="clients">
                    @foreach (var client in Model.Clients)
                    {
                        Html.RenderPartial("~/Views/Shared/DisplayTemplates/Client.cshtml", client);
                    }
                   
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 pad30  wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                <h2>Любителям почитать</h2>
                <div class="pad30"></div>

                <div id="grid-container2" class="cbp-l-grid-blog pad90">
                    <ul>
                        @foreach (var article in Model.Articles)
                        {
                            Html.RenderPartial("~/Views/Shared/DisplayTemplates/Article.cshtml", article);
                        }                        
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pad30"></div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 ">

                <h1 class="wow fadeInRightBig embo" data-wow-offset="80" data-wow-duration="2s">
                    контакты
                </h1>

                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">
                    Вам нужен <strong>обычный сайт</strong> или инновационный <strong>стартап</strong>?<br />
                    Или же ваш <strong>бизнес</strong> нуждается в <strong>автоматизации</strong> ?<br />
                    Свяжитесь с нами!
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-6  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">

                        <h2>Хотите встретиться?</h2>

                        <p>
                            Россия, г. Калининград,<br>
                            ул. Литовский Вал, <br />д. 47а, кв. 6
                            
                        </p>

                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-phone inverse"></i> <span class="inverse">+8 906 210 23 87</span></li>
                            <li><i class="fa-li fa fa-envelope inverse"></i> <a href="mailto:#">info@koniglabs.com</a></li>
                        </ul>

                        <ul class="social-icons">
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="0.5s">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                                <a href="#"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1.5s">
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2s">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="2.5s">
                                <a href="#"><i class="fa fa-vk"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-6  wow fadeInUp" data-wow-offset="80" data-wow-duration="2s">
                        <div class="contact_form">
                            <div id="note"></div>
                            <div id="fields">
                                <form id="ajax-contact-form">
                                    <input class="col-xs-12 col-md-12" type="text" name="Name" value="" placeholder="Ваше имя" />
                                    <input class="col-xs-12 col-md-12" type="text" name="Email" value="" placeholder="Email" />
                                    <input class="col-xs-12 col-md-12" type="text" name="Phone" value="" placeholder="Телефон" />
                                    <textarea name="Text" id="message" class="col-xs-12  col-md-12" placeholder="Ваше сообщение"></textarea>
                                    <div class="clear"></div>
                                    <input type="submit" class="btn marg-right10" value="отправить" />
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pad60"></div>
</section>
<footer>
    <div id="google-maps">
        <div class="google-maps">
        </div>
    </div>

    <div class="center footer">
        <div class="wow bounce" data-wow-offset="80" data-wow-duration="2s">
            <a href="#home" class=" scroll">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x "></i>
                    <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>

        <div id="copyright" class="wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
            &copy; 2015 KonigLabs
        </div>
    </div>
</footer>
