@model DB.Entities.IEntity

<a class="list-action" href="@Url.Action(Constants.EditView, new { id = Model.Id })"><img src="@( CMS.PagesSettings.Settings.MediaRoot +"/Areas/Admin/Images/Default/edit.png")" alt="Редактировать" /></a>