<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>KonigLabs - разработка веб-проектов любой сложности</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700">

    <link rel="stylesheet" href="/Content/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/static/css/style.css" />
    <link rel="stylesheet" href="/Content/static/css/colour2.css" />
    <link rel="stylesheet" href="/Content/static/css/animate.css" />
    <link rel="stylesheet" href="/Content/static/css/font-awesome.min.css">
    <link href="/Content/static/css/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/static/css/cubeportfolio.min.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        <script src="https://oss.maxcdn.com/libs/respond./Content/static/js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="/Content/static/js/custom.modernizr.js"></script>
</head>
<body class="royal_loader">

    @RenderBody()
    
            
    <script src="/Content/static/js/jquery-1.11.2.min.js"></script>
    <script src="/Content/static/js/bootstrap.min.js"></script>
    <script src="/Content/static/js/royal_preloader.min.js"></script>
    <script src="/Content/static/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/Content/static/js/gmap3.min.js" type="text/javascript"></script>
    <script src="/Content/static/js/owl.carousel.min.js"></script>
    @Scripts.Render("~/bundles/js")
    @*<script src="/Content/static/js/jquery.js"></script>
    <script src="/Content/static/js/retina.js"></script>
    <script src="/Content/static/js/bootstrap.min.js"></script>
    <script src="/Content/static/js/royal_preloader.min.js"></script>
    <script src="/Content/static/js/smooth-scroll.js"></script>
    <script src="/Content/static/js/jquery.appear.js"></script>
    <script src="/Content/static/js/parallax.js"></script>
    <script src="/Content/static/js/wow.js"></script>
    <script src="/Content/static/js/count.js"></script>
    <script src="/Content/static/js/charts.js"></script>
    <script src="/Content/static/js/jquery.cubeportfolio.min.js"></script>
    <script src="/Content/static/js/main.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/Content/static/js/gmap3.min.js" type="text/javascript"></script>
    <script src="/Content/static/js/scripts.js"></script>
    <script src="/Content/static/js/owl.carousel.min.js"></script>*@
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {
            $("#clients").owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                items: 4,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });
        });
        //]]>
    </script>
    @*<script src="/Content/static/js/youtube/YTPlayer.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () {
            $(function () {
                $(".player").mb_YTPlayer();
            });
        });
        //]]>
    </script>
</body>
</html>