
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Html.RenderPartial("~/Views/Shared/DisplayTemplates/BlogHeader_ru.cshtml");
}

<div class="pad90"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h2>
                Personal data agreement
            </h2>
            <br>
            <br> 1. Настоящим выражаю свое согласие на автоматизированную и неавтоматизированную обработку моих персональных данных,
            переданных мною лично Оператору посредством заполнения форм на сайте koniglabs.ru в телекоммуникационной сети Интернет
            (далее Сайт), в соответствии со следующим перечнем:
            <br>— имя;
            <br>— Email.
            <br>
            <br> 2. Оператор может обрабатывать мои персональные данные в следующих целях:
            <br> 2.1. повышения моей осведомленности о продуктах и услугах Оператора;
            <br> 2.2. заключения со мной договоров и их исполнения;
            <br> 2.3. информирование меня о новостях и предложениях Оператора;
            <br> 2.4. идентификации меня на Сайте;
            <br> 2.5. обеспечения соблюдения законов и иных нормативных правовых актов в области персональных данных.
            <br>
            <br> 3. Обработка Оператором моих персональных данных (на бумажных носителях, в информационных системах персональных данных
            и без использования средств автоматизации, а также смешанным способом) должна осуществляться в соответствии с требованиями
            Федерального закона от 27.07.2006 г. №152-ФЗ «О персональных данных», Политикой конфиденциальности ООО «КЁНИГ ЛАБС».
            <br>
            <br> 4. Также даю свое согласие на предоставление Оператором моих персональных данных третьим лицам: ООО «КЁНИГ ЛАБС» 
            (находится по адресу: 236022, Калининград, ул. Мусоргского, д. 10, к. 5) 
            <br>
            <br> 5. Оператор вправе осуществлять обработку моих персональных данных следующими способами: сбор, запись, систематизация,
            накопление, хранение, уточнение (обновление, изменение), использование, передача (распространение, предоставление, доступ),
            обезличивание, блокирование, уничтожение.
            <br>
            <br> 6. Настоящее согласие вступает в силу с момента передачи моих персональных данных Оператору посредством заполнения форм
            на Сайте и действует до дня отзыва в письменной форме.
            <br>
            <br> 7. Настоящее согласие может быть отозвано письменным заявлением на e-mail
            <br>ООО «КЁНИГ ЛАБС» info@koniglabs.ru либо письменным уведомлением по адресу ООО «КЁНИГ ЛАБС» 236022, Калининград, ул. Мусоргского, д. 10, к. 5
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

<div class="center footer">
    <div class="wow bounce" data-wow-offset="80" data-wow-duration="2s">
        <a href="#home" class=" scroll">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x "></i>
                <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>

    <div id="copyright" class="wow bounceIn" data-wow-offset="80" data-wow-duration="2s">
        &copy; 2015 KonigLabs
    </div>
</div>