@model KonigLabs.Models.BlogMeta

<div class="col-md-3 col-md-offset-1">
    <aside>
        <div class="input-group">
            <input class="form-control" placeholder="Поиск по блогу" name="s" id="s" type="text">
        </div>

        <div class="pad30"></div>
        <h6>О чем этот блог</h6>
        <p>
            Реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.
        </p>

        <div class="pad10"></div>

        <h6>Категории</h6>

        <ul class="fa-ul categories">
            <li><i class="fa-li fa fa-angle-right"></i><a href="#">Стартаперам</a></li>
            <li><i class="fa-li fa fa-angle-right"></i><a href="#">Бизнесмену</a></li>
            <li><i class="fa-li fa fa-angle-right"></i><a href="#">Интервью</a></li>
            <li><i class="fa-li fa fa-angle-right"></i><a href="#">SEO</a></li>
            <li><i class="fa-li fa fa-angle-right"></i><a href="#">SMM</a></li>
        </ul>

        <div class="pad25"></div>

        <h6 class="pad25">Тэги / Метки / Зарубки</h6>

        <span class="badge"><a href="#">деньги</a> 20</span>
        <span class="badge"><a href="#">бизнес</a> 26</span>
        <span class="badge"><a href="#">идеи</a> 29</span>
        <span class="badge"><a href="#">новости</a> 75</span>
        <span class="badge"><a href="#">технологии</a> 46</span>
        <span class="badge"><a href="#">реклама</a> 17</span>
        <span class="badge"><a href="#">техника</a> 3</span>
    </aside>
</div>