
@model KonigLabs.Models.ViewMember

<li class="cbp-item">
    <a href="@Url.Action(MVC.Home.Member(id:Model.Id))" class="cbp-caption cbp-singlePage">        
		<figure class="eye"></figure>
    </a>
    <a href="@Url.Action(MVC.Home.Member(id:Model.Id))" class="cbp-singlePage cbp-l-grid-team-name">@Model.Name</a>
    <div class="cbp-l-grid-team-position">@Model.Title</div>
</li>