
@model KonigLabs.Models.ViewMember

<li class="cbp-item">
    <a href="@Url.Action(MVC.Home.Member(id:Model.Id))" >        
		<figure class="eye"></figure>
    </a>
    <a href="@Url.Action(MVC.Home.Member(id:Model.Id))" >@Model.Name</a>
    <div class="cbp-l-grid-team-position">@Model.Title</div>
</li>