@model KonigLabs.Models.ViewProject
@*<li class="cbp-item identity graphic">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="/Content/media/img/gallery/thumb/8.jpg" alt="" />
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="ajax/project8.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                    <a href="https://www.youtube.com/watch?v=IbWOQWw1wkM"
                       class="cbp-lightbox cbp-l-caption-buttonRight"
                       data-title="Название проекта">
                        <i class="fa fa-film"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>*@
<li class="cbp-item @Model.GetFilterClasses()">
    <div class="cbp-caption">
        <div class="cbp-caption-defaultWrap">
            <img src="@Url.Content(Model.SmallImage)" alt="" />
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <a href="/Home/project/?id=@Model.Id" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="fa fa-link"></i></a>
                    <a href="@Url.Content(Model.BigImage)" class="cbp-lightbox cbp-l-caption-buttonRight"
                       data-title="@Model.Name">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
